---

- name: Create a directory if it does not exist
  ansible.builtin.file:
    path: "{{ java_path }}"
    state: directory
    mode: '0755'

- name: Get stats JDK archive
  ansible.builtin.stat:
    path: "/opt/{{ java_package_name }}"
  register: register_java_archive

- name: Download {{ java_package_name }}
  ansible.builtin.get_url:
    url: "{{ java_package_url }}"
    dest: /opt/
    tmp_dest: /opt/
    mode: '0755'
  when: not register_java_archive.stat.exists

- name: Unarchive file
  ansible.builtin.unarchive:
    src: /opt/{{ java_package_name }}
    dest: "{{ java_path }}"
    list_files: True
    remote_src: True
  register: register_unarchive

- name: Find /var/log all directories, exclude nginx and mysql
  ansible.builtin.find:
    paths: "{{ java_path }}/{{ register_unarchive.files[0] | split('/') | first }}/bin/"
    recurse: no
    file_type: file
  register: register_file_list

- name: Correct java version selected
  community.general.alternatives:
    name: "{{ item }}"
    path: "{{ java_path }}/{{ register_unarchive.files[0] | split('/') | first }}/bin/{{ item }}"
    link: /usr/bin/{{ item }}
    state: selected
  with_items: "{{ register_file_list['files'] | map(attribute='path') | map('regex_replace','^.*/(.*)$','\\1') | list }}"

- name: Set Java HOME ~/.bashrc
  lineinfile:
    dest: ~/.bashrc
    regexp: '^JAVA_HOME'
    line: "export JAVA_HOME={{ java_path }}/{{ register_unarchive.files[0] | split('/') | first }}"

- name: Set JAVA PATH
  lineinfile:
    dest: ~/.bashrc
    regexp: '^JAVA_HOME'
    line: "export PATH=$PATH:{{ java_path }}/{{ register_unarchive.files[0] | split('/') | first }}/bin"
